* {
  font-family: 'Courier Prime', monospace;
}

.button {
  color: #470D32;
  margin: 1rem;
}

#preview {
  border: 1px solid green;
  height: 8rem;
  width: 10rem;
}

#recording {
  border: 1px solid green;
  height: 8rem;
  width: 10rem;
}

.wrapper {
  padding: 1rem;
}
