* {
    font-family: 'Montserrat', sans-serif;
}

#post-list {
    background: rgb(255, 0, 38, 0.5);
    border-radius: 0.125rem;
    box-shadow: 0.25rem 0.25rem 0.125rem 0 rgb(216, 191, 191);
}

.post-title {
    color: #fff;
    font-size: 1.05rem;
    font-weight: 600;
    list-style: none;
    margin-top: 1rem;
    text-shadow: 0.25rem 0.125rem rgb(216, 191, 191, 0.4);
}

.post-body {
    background: black;
    color: rgba(229, 186, 208, 0.95);
    font-size: 1rem;
    list-style: none;
    padding: 0.125rem;
}

