* {
    font-family: 'PT Sans', sans-serif;
}

.form-group {
    padding-left: 1rem;
}

.heading {
    font-weight: 600;
}

input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
 
input[type="number"] {
    -moz-appearance: textfield;
}

.input-group-addon {
    margin-left: 1rem;
}

#loading {
    display: none;
}

#results {
    display: none;
}
